body{
  background-color: purple;
  margin: 0;
}

p{
  font-family: 'Sacramento';
  color: #F7E2D6;
  font-size: 3.5rem;
  font-weight: bold;
}

h1{
  font-family: 'Sacramento';
  font-size: 10rem;
}
